
.vs/JURASIC3D/FileContentIndex/735618af-7ecb-4447-b76d-f3f56f533827.vsidx
.vs/JURASIC3D/FileContentIndex/read.lock
.vs/JURASIC3D/v17/Browse.VC.db
.vs/JURASIC3D/v17/Browse.VC.db-shm
.vs/JURASIC3D/v17/Browse.VC.db-wal
.vs/JURASIC3D/v17/Browse.VC.opendb
.vs/JURASIC3D/v17/ipch/AutoPCH/6e14b500c54d1f99/JURASIC_3D.ipch
.vs/JURASIC3D/FileContentIndex/23929e2b-5166-4222-91ca-5652b8581b00.vsidx
.vs/JURASIC3D/v17/.suo
.vs/JURASIC3D/v17/ipch/AutoPCH/3ea07be0e7ca5007/JURASIC_3D.ipch
