
.vs/JURASIC3D/FileContentIndex/735618af-7ecb-4447-b76d-f3f56f533827.vsidx
.vs/JURASIC3D/FileContentIndex/read.lock
.vs/JURASIC3D/v17/Browse.VC.db
.vs/JURASIC3D/v17/Browse.VC.db-shm
.vs/JURASIC3D/v17/Browse.VC.db-wal
.vs/JURASIC3D/v17/Browse.VC.opendb
.vs/JURASIC3D/v17/ipch/AutoPCH/6e14b500c54d1f99/JURASIC_3D.ipch
